<!-- Hero banner -->
<section id="hero-banner" class="d-flex justify-content-center align-items-start text-center">
  <div class="container mt-5">
    <div class="mt-5">
      <h1 class="text-light">
        Hi,<br>
        I'm Louis,<br>
        web developer
      </h1>
      <h2 class="gray">Fullstack Developer / Ruby-on-Rails</h2>
      <div class="mt-4">
        <%= link_to "Contact Me", "#", class: "btn btn-primary btn-lg custom-btn rounded-5" %>
        <%= link_to "My Projects", "#featured-projects", class: "btn btn-outline-light btn-lg rounded-5 custom-btn" %>
      </div>
    </div>
    <a href="#featured-projects" class="chevron-scroll d-flex flex-column align-items-center justify-content-center scroll">
      <i class="fas fa-angle-double-down chevron"></i>
    </a>
  </div>
</section>
