<div class="hero-banner d-flex justify-content-center align-items-center text-center">
  <div class="container">
    <div>
      <h1 class="text-light">Hi,</h1>
      <h1 class="text-light">I'm Louis,</h1>
      <h1 class="text-light">web developer</h1>
      <br>
      <h2 class="gray">Fullstack Developer / Ruby-on-Rails</h2>
    </div>
  </div>
</div>
